# AWS Configuration
# These values will be output by your CDK deployment
NEXT_PUBLIC_AWS_REGION=us-west-2
NEXT_PUBLIC_USER_POOL_ID=us-west-2_xxxxxxxxx
NEXT_PUBLIC_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_API_URL=https://xxxxxxxxxx.execute-api.us-west-2.amazonaws.com/prod

# Development mode (set to false for production)
NEXT_PUBLIC_DEV_MODE=true 